## Python Basic

In [1]:
4%2 # show reminder

0

In [2]:
5//2 # It gives you the whole number

2

In [3]:
5/2

2.5

In [4]:
#BODMAS(Brcket,off,division,Multiplication,addtion,subtraction)
5+3*2

11

In [5]:
(5+3)*2

16

In [6]:
# Boolean

True

True

In [11]:
True or False

True

In [12]:
True and False

False

In [13]:
type (True)

bool

In [14]:
True | False

True

In [15]:
### string

type('krsih')

str

In [18]:
type('k')

str

In [19]:
type("k")

str

In [23]:
print(str)

krish

In [1]:
print(str)

<class 'str'>

In [2]:
str1 = 'A good boy'
str2 = 'A bad boy'

In [6]:
print(str1)
print(str2)

A good boy
A bad boy

In [7]:
str1+"  "+str2

'A good boy  A bad boy'

In [9]:
# Add two mumber
a = int(input("Enter number 1 ?"))
b = int(input("Enter number 2 ?"))
c = a+b
print(" the output is",c)

Enter number 1 ?11
Enter number 2 ?22
 the output is 33

In [10]:
### string formating

first_name = input(" what is your first name")
last_name = input(" what is your last name")
print(" welcome to ineuron course",first_name,last_name)

 what is your first nameanu
 what is your last nametyagi
 welcome to ineuron course anu tyagi

In [12]:
first_name = input(" what is your first name")
last_name = input(" what is your last name")
print(" My first name is {} and last name is {}".format(first_name,last_name))

 what is your first nameanu
 what is your last nametyagi
 My first name is anu and last name is tyagi

In [13]:
first_name = input(" what is your first name")
last_name = input(" what is your last name")
print(" My first name is {firstname} and last name is {lastname}".format(lastname=last_name,firstname=first_name))

 what is your first nameanu
 what is your last nametyagi
 My first name is anu and last name is tyagi

In [14]:
# Variable Dyanmic Typing we dont need to define type ,python take care of that,other language we have to define type
a = 10.0
type(a)

float

In [15]:
a = 'Anu'
type(a)

str

In [16]:
# strong Typing

"anu"+1

TypeError: can only concatenate str (not "int") to str

In [17]:
'anu'+str(1)

'anu1'

In [19]:
1 +int('2')

3

In [25]:
### conditional statement

# if and elif

a = int(input('Enter the no 1?'))
b = int(input('Enter the no 2?'))
c = a-b
print('the output is',c)
if c<0:
    print('the number is negative')
elif c>40:
        print(" the difference is huge")
else:
    print('the number is postive')

Enter the no 1?55
Enter the no 2?11
the output is 44
 the difference is huge

### Data structre
list 
tuple
set
dictionary
string

In [27]:
lst = [1,2,3,'anu','tyagi']
lst

[1, 2, 3, 'anu', 'tyagi']

In [29]:
type(lst[3])

str

In [30]:
lst.append('ineuron')

In [31]:
lst

[1, 2, 3, 'anu', 'tyagi', 'ineuron']

In [32]:
lst[2] ="Data science"
lst

[1, 2, 'Data science', 'anu', 'tyagi', 'ineuron']

In [33]:
lst.append('anu')
lst.append('anu')
lst

[1, 2, 'Data science', 'anu', 'tyagi', 'ineuron', 'anu', 'anu']

In [34]:
lst.count('anu')

3

In [38]:
# String Indexing
# Str does not support item assignment but list support item assignment
# Str is immutable as you can not change the item but you can change the full str

str1 ="Krish"
str1= 'anu'

In [39]:
str1 # you can change or replace the str but cant change the items in str

'anu'